<!doctype html>
<html>
    <head>
        <!-- 声明当前页面的编码集：charset=gbk,gb2312(中文编码) , utf-8(国际编码) -->
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
        <!-- 声明当前页面的三元素 -->
        <title>helloWorld--zxk</title>
        <meta name='keywords' content='关键词,关键词'>
        <meta name='description' content=''>

        <!-- js/css -->
        <link rel="stylesheet" href="./css/demo.css">
    </head>
<body>
    <div class="header">
      <div class="header-left">left</div>
      <div class="header-right-menu">
        <a class="login" href="/">Login</a>
        <a class="logout" href="/">Logout</a>
      </div>
    </div>

    <div class="body-main-container">
      <div class="body-left-menu">

        <dl class="left-menu-price-range">
          <dd>Price Filter</dd>
          <dd><a href="javascript:;">All</a></dd>
          <dd><a href="javascript:;">0~1000</a></dd>
          <dd><a href="javascript:;">1000~2000</a></dd>
          <dd><a href="javascript:;">2000~3000</a></dd>
          <dd><a href="javascript:;">3000~5000</a></dd>
          <dd><a href="javascript:;">5000~10000</a></dd>
        </dl>
      </div>
      <div class="goods-list-container">
        <ul class="goods-list">
          <li class="goods-item">
            <a href="javascript:;" class="goods-item-img">
              <img src="../img/1.jpg" alt="x">
            </a>
          <div class="goods-item-name">name</div>
          <div class="goods-item-price">￥8888.88</div>
          <div class="goods-item-add-to-shoppingcart">加入到购物车</div>
          </li>
        </ul>
      </div>
    </div>

    <footer>
      footer
    </footer>
 </body>
</html>
